<?xml version="1.0"?>
<ruleset name="controlling">
    <description>The controlling coding standard.</description>

    <file>src</file>
    <file>tests</file>
    <exclude-pattern>*/data/*</exclude-pattern>

    <!-- Start here -->
    <arg name="basepath" value="."/>
    <!-- Only .php -->
    <arg name="extensions" value="php"/>
    <!-- 80 parallel -->
    <arg name="parallel" value="80"/>
    <!-- User cache dir -->
    <arg name="cache" value=".phpcs-cache"/>
    <!-- Show colors -->
    <arg name="colors"/>
    <!-- Ignore warnings, show progress of the run and show sniff names -->
    <arg value="nps"/>
    <!-- arg value="sp"/ -->

    <!-- Use brainbits coding standard -->
    <rule ref="BrainbitsCodingStandard">
        <exclude name="SlevomatCodingStandard.TypeHints.ReturnTypeHint.MissingNativeTypeHint"/>
        <exclude name="SlevomatCodingStandard.TypeHints.ParameterTypeHint.MissingNativeTypeHint"/>
        <exclude name="SlevomatCodingStandard.TypeHints.ParameterTypeHint.MissingAnyTypeHint"/>
    </rule>

    <!-- Forbid suffix "Exception" for exception classes -->
    <rule ref="SlevomatCodingStandard.Classes.SuperfluousExceptionNaming"/>

    <!-- Force commas after the last parameter in function or method call -->
    <rule ref="SlevomatCodingStandard.Functions.TrailingCommaInCall"/>
</ruleset>
